body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
    align-items: center;
}

header {
    background-color: #517edf;
    color: white;
    padding: 1em 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

header p {
    margin: 0;
}

main {
    padding: 1em;
    text-align: center;
}

section {
    margin-bottom: 2em;
}

h2 {
    color: #01003a;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 0.5em 0;
}

a {
    text-decoration: none;
    color: #1b60c9;
}

a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    padding: 1em 0;
    background-color: #333;
    color: white;
}

footer a {
    color: #4fa6ec;
}

img {
    max-width: 160px;
    height: auto;
}